In [2]:
!pip install ibm_db

Collecting ibm_db
  Downloading ibm_db-3.0.4.tar.gz (796 kB)
Building wheels for collected packages: ibm-db
  Building wheel for ibm-db (setup.py): started
  Building wheel for ibm-db (setup.py): finished with status 'done'
  Created wheel for ibm-db: filename=ibm_db-3.0.4-py3-none-any.whl size=27449615 sha256=139021892b9ca158c34971f65ae8426bb8ef4f0e2363e68f017aafe59443af7a
  Stored in directory: c:\users\bisht\appdata\local\pip\cache\wheels\d3\b4\35\a36838dd28cd2a15e4df56e859803d0a0387069e0f951a013e
Successfully built ibm-db
Installing collected packages: ibm-db
Successfully installed ibm-db-3.0.4

In [3]:
import ibm_db

In [4]:
#credentials_part
dsn_hostname = "ba99a9e6-d59e-4883-8fc0-d6a8c9f7a08f.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud" 
dsn_uid = "ngk46249"        
dsn_pwd = "XXS5raHZ4c5pT5tL"      

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"           
dsn_port = "31321"                
dsn_protocol = "TCPIP"            
dsn_security = "SSL"

In [5]:
#creating connection

In [6]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

In [7]:
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=ba99a9e6-d59e-4883-8fc0-d6a8c9f7a08f.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud;PORT=31321;PROTOCOL=TCPIP;UID=ngk46249;PWD=XXS5raHZ4c5pT5tL;SECURITY=SSL;

In [8]:
try:
    conn = ibm_db.connect(dsn, "", "")#connection made here
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  ngk46249 on host:  ba99a9e6-d59e-4883-8fc0-d6a8c9f7a08f.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud

In [9]:
#meta data from server

In [10]:
server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.05.0500
DB_NAME:    BLUDB

In [14]:
query="CREATE TABLE Truck(Serial_no varchar(20) NOT NULL, Model_name varchar(20),Price BIGINT)" 
stmt=ibm_db.exec_immediate(conn,query )

In [16]:
query="INSERT INTO Truck VALUES('abcd','newind',1320)"
stmt=ibm_db.exec_immediate(conn,query)

In [18]:
query="SELECT * FROM Truck"
stmt=ibm_db.exec_immediate(conn,query)

In [19]:
ibm_db.fetch_both(stmt)

{'SERIAL_NO': 'abcd',
 0: 'abcd',
 'MODEL_NAME': 'newind',
 1: 'newind',
 'PRICE': 1320,
 2: 1320}

In [20]:
#using pandas for data retrieval

In [21]:
import pandas
import ibm_db_dbi
pcom=ibm_db_dbi.Connection(conn)

In [22]:
df=pandas.read_sql(query,pcom)
df

  SERIAL_NO MODEL_NAME  PRICE
0      abcd     newind   1320
1      abcd     newind   1320

In [23]:
df=pandas.read_sql(query,pcom)
df

  SERIAL_NO MODEL_NAME  PRICE
0      abcd     newind   1320
1      abcd     newind   1320

In [24]:
ibm_db.close(conn)

True